<div class="wrapper-login">
  <div class="container double-page center-block">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="create-project-banner">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div>
          <h2><%= t '.title' %></h2>
          <h4><%= t '.header' %></h4>
        </div>
        <div class="spacer-1em"></div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="invite-team-text">
            <%= form_for(@team) do |f| %>
              <div class="field form-group">
                <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: "form-control signin-label" %>
              </div>
              <div class="form-group">
                <%= f.submit "Start", class: "btn btn-lg btn-block btn-signin" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="spacer-1em"></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to "Back", dashboards_index_path, class: "btn btn-sm btn-blue" %>
      </div>
    </div>
  </div>
</div>
