<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div role="tabpanel">
          <div role="tabpanel">
            <ul class="nav nav-pills" role="tablist">
              <% if @user.exercises.count > 0 %>
                <!-- For each past exercise we display a tab -->
                <% @user.last_sessions(@session, current_user).each do |session| %>
                  <li role="presentation">
                    <a href="#<%= session.exercise.id %>" aria-controls="" role="tab" data-toggle="tab">
                      <%= session.exercise.title %></a>
                  </li>
                <% end %>
              <% end %>
              <!-- Current exercise -->
              <li role="presentation" class="active">
                <a href="#<%= @session.exercise.id %>" aria-controls="" role="tab" data-toggle="tab">
                  <%= @session.exercise.title %>
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <% if @user.exercises.count > 0 %>
                <!-- For each past exercise we display each answer and allows the user to edit it -->
                <!-- TODO: Refactor in a partial -->
                <% @user.last_sessions(@session, current_user).each do |session| %>
                 <div role="tabpanel" class="tab-pane subheader" id="<%= session.exercise.id %>">
                   <p>Description : <br><%= session.exercise.description %></p>
                   <%= form_for([session.exercise, session]) do |f| %>

                    <!-- We get all the answers and create empty ones for the ones not filled -->
                     <% session.exercise.questions.order(position: :asc).each do |question| %>
                       <% session.answers.new(question: question, session_id: session.id) unless question.answers.where(session_id: session.id).any? %>
                     <% end %>

                     <%= f.fields_for :answers do |a| %>
                       <div class="field form-group", id="exercise-form">
                         <% if a.object.id.nil? %>
                           <%= label_tag a.object.question.title %>
                           <%= a.hidden_field :original_question, value: a.object.question.title %>
                           <%= a.hidden_field :question_id %>
                         <% else %>
                           <%= label_tag a.object.original_question %>
                         <% end %>
                         <br>Description : <%= a.object.question.description %>
                         <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
                       </div>
                     <% end %>
                     <%= f.submit "Save my story", class: "btn btn-primary" %>
                   <% end %>
                 </div>
                <% end %>
              <% end %>

              <!-- Current exercise -->
              <div role="tabpanel" class="tab-pane subheader active" id="<%= @session.exercise.id %>">
                <p>Description : <br><%= @exercise.description %></p>

                <%= form_for([@exercise, @session]) do |f| %>
                <% @exercise.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                <%= f.fields_for :answers do |a| %>
                  <div class="field form-group", id="exercise-form">
                    <%= label_tag a.object.question.title %>
                    <br><%= a.object.question.description %>
                    <%= a.hidden_field :original_question, value: a.object.question.title %>
                    <%= a.hidden_field :question_id %>
                    <%= a.hidden_field :exercise_id %>
                    <br>
                    <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
                  </div>
                <% end %>
                <%= f.submit "Save my story", class: "btn btn-primary" %>
              <% end %>
              </div>
            </div>
          </div> <!-- tabpanel -->
      </div>
    </div>
  </div>
</div>
