<div class="wrapper-login">
  <div class="container single-page">
    <div class="row text-center">
        <h3 id="track-title"><%= @track.title %></h3>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
          <div role="tabpanel">
            <div role="tabpanel">
              <ul class="nav nav-tabs nav-deco" role="tablist">
                <% if @user.exercises.count > 0 %>
                  <!-- For each past exercise we display a tab -->
                  <% @user.last_sessions(@session, current_user).each do |session| %>
                    <li role="presentation">
                      <a href="#<%= session.exercise.id %>" aria-controls="" role="tab" data-toggle="tab">
                        <%= session.exercise.title %></a>
                    </li>
                  <% end %>
                <% end %>
                <!-- Current exercise -->
                <li role="presentation" class="active">
                  <a href="#<%= @session.exercise.id %>" aria-controls="" role="tab" data-toggle="tab">
                    <%= @session.exercise.title %>
                  </a>
                </li>
              </ul>

              <div class="tab-content">
                <% if @user.exercises.count > 0 %>
                  <!-- For each past exercise we display each answer and allows the user to edit it -->
                  <!-- TODO: Refactor in a partial -->
                  <% @user.last_sessions(@session, current_user).each do |session| %>
                   <div role="tabpanel" class="tab-pane subheader" id="<%= session.exercise.id %>">
                     <h4 class="subheader"><%= session.exercise.description %></h4>
                     <p class="note">Note: For more comfort, you can always expand the size of the text area by pulling the down right corner of each box.</p>

                      <!-- We get all the answers and create empty ones for the ones not filled -->
                       <% session.exercise.questions.ordered.each do |question| %>
                         <% session.answers.new(question: question, session_id: session.id) unless question.answers.where(session_id: session.id).any? %>
                       <% end %>

                     <%= form_for([session.exercise, session]) do |f| %>

                       <%= f.fields_for :answers, @session.answers.sort_by(&:position) do |a| %>
                         <div class="field form-group", id="exercise-form">
                          <!-- Pour ajouter le numéro devant chaque question -->
                          <!--
                          <%= label_tag a.object.question.position %>
                           -->
                           <% if a.object.id.nil? %>
                             <%= label_tag a.object.question.title %>

                             <%= a.hidden_field :original_question, value: a.object.question.title %>
                             <%= a.hidden_field :question_id %>
                           <% else %>
                             <%= label_tag a.object.original_question %>
                           <% end %>
                           <p><%= a.object.question.description %></p>
                           <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
                         </div>
                       <% end %>
                       <%= f.submit "Save", class: "btn btn-sm btn-danger" %>
                     <% end %>
                   </div>
                  <% end %>
                <% end %>

                <!-- Current exercise -->
                <div role="tabpanel" class="tab-pane active" id="<%= @session.exercise.id %>">
                  <h4 class="subheader"><%= @exercise.description.html_safe %></h4>
                  <p class="note">Note: For more comfort, you can always expand the size of the text area by pulling the down right corner of each box.</p>

                  <%= form_for([@exercise, @session]) do |f| %>
                  <% @exercise.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  <%= f.fields_for :answers do |a| %>
                    <div class="field form-group", id="exercise-form">
                      <%= label_tag a.object.question.title %>
                      <p><%= a.object.question.description %></p>
                      <%= a.hidden_field :original_question, value: a.object.question.title %>
                      <%= a.hidden_field :question_id %>
                      <%= a.hidden_field :exercise_id %>

                      <%= a.text_area :content, rows: "3", class: "form-control form-text-answer" %>
                    </div>
                  <% end %>
                  <div class="spacer-2em"></div>
                  <%= f.submit "Save", class: "btn btn-sm btn-danger" %>
                <% end %>
                </div>
              </div>
            </div> <!-- tabpanel -->
        </div>
      </div>
   </div>
   <div class="spacer-10em"></div>
  </div>
</div>
