<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="page-header">
        <h1><%= @exercise.title %></h1>
        <h4><%= @exercise.description %></h4>
      </div>


        <% @session.answers.order(position: :asc).each do |a| %>
            <div class="field form-group", id="exercise-form">
              <p>a.original_question </p>
              <div class="panel">
                <%= a.content %>
              </div>
              <%= render partial: "comments/index", locals: { answer: a } %>
              <%= render partial: "comments/new", locals: { answer: a } %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
