<div class="wrapper-login">
  <div class="container double-page center-block">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="invite-team-banner">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 invite-team-text">
        <div>
          <h2><%= t '.title' %></h2>
          <h4><%= t '.header' %></h4>
        </div>
        <div class="spacer-1em"></div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <div class="invite-team-text">
            <%= form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, class: 'form-inline'}) do |f| %>
              <%= devise_error_messages! %>
              <div class="field form-group">
                <% resource.class.invite_key_fields.each do |field| -%>
                  <%= f.text_field :email, autofocus: true, placeholder: 'Email', class: "signin-label", class: "form-control" %>
                <% end -%>
             </div>
              <div class="form-group">
                <%= f.submit "Send", class: "btn btn-lg btn-block btn-signin" %>
              </div>
            <% end %>
          </div>
          <div class="spacer-1em"></div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <%= link_to "Back", dashboards_index_path, class: "btn btn-sm btn-blue" %>
      </div>
  </div>
</div>