<div class="wrapper-login">
  <div class="container double-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="all-tracks-banner">
        <h1><%= t '.title' %></h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 page-header" id="all-tracks-text">
        <div class="page-header">
          <h4><%= t '.header_logged_in' %></h4>
          <p class="pull-right"><%= t '.header_logged_in_name' %></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" id="all-tracks-text">
          <% @tracks.each do |track| %>
<!--             <% if track.position == 1 %>
 -->              <h3><%= link_to track.title, track %></h3>
              <h5><%= track.description %></h5>
              <div class="spacer-30 padding-left-20">
                <ul class="list-unstyled list-inline">
                  <li><%= link_to "Start", track, class: "btn btn-sm btn-danger" %></li>
                  <li><%= link_to "Learn more", posts_path, class: "btn btn-sm btn-blue" %></li>
                </ul>
              </div>
          <!--   <% else %>
              <h3><%= link_to track.title, track %></h3>
              <h5><%= track.description %></h5>
              <div class="spacer-30 padding-left-20">
                <ul class="list-unstyled list-inline">
                  <li><%= link_to "Start", votes_path, class: "btn btn-sm btn-danger" %></li>
                  <li><%= link_to "Learn more", votes_path, class: "btn btn-sm btn-blue" %></li>
                </ul>
              </div>
            <% end %> -->
<!--             <h3>The Press kit</h3>
            <h5>This tool helps you write all the basic material your startup needs to reach out to journalists properly: a fact sheet, a boiler plate and a crispy way to send your first launching press release.</h5>
            <h3>The Landing Page</h3>
            <h5>This tool helps you identify the visual and content elements to reach your communication goal, every time someone lands on your page.</h5>
            <h3>The Pitch contest</h3>
            <h5>This tool helps you assemble a pitch structure that gets viral. From the hook to the punchline, you will learn how to combine facts with stories and align your value proposition with your brand and company culture. Our goal is to help you generate a big wow in the audience.</h5> -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

