<div class="wrapper-login">
  <div class="container double-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="all-tracks-banner">
        <h1><%= t '.title' %></h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 page-header" id="all-tracks-text">
        <div class="page-header">
          <h4><%= t '.header' %></h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" id="all-tracks-text">
          <% @tracks.each do |track| %>
            <h3><%= link_to track.title, track %></h3>
            <h5><%= track.description %></h5>
            <div class="spacer-30 padding-left-20">
              <ul class="list-unstyled list-inline">
                <li><%= link_to "Start", track, class: "btn btn-sm btn-danger" %></li>
                <li><%= link_to "Learn more", @post, class: "btn btn-sm btn-blue" %></li>
              </ul>
            <h3>Your PR Story</h3>
            <h5>Coming soon...</h5>
            <h3>Your Landing Page Story</h3>
            <h5>Coming soon...</h5>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

