<% content_for :title do %>
  LoudStory | Create
<% end %>

<div id="wrapper-tracks-index">
  <div class="container single-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" id="all-tracks-banner">
        <h1><%= t '.title_logged_in' %></h1>
      </div>
    </div>
  </div>
</div>
  <div class="container single-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12" id="all-tracks-text">
        <%= flash_messages %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" id="all-tracks-text">
          <div class="page-header">
            <h4><%= t '.header_logged_in' %></h4>
            <p class="pull-right"><%= t '.header_logged_in_name' %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" id="all-tracks-text">
          <h3>The checklist</h3>
          <h5>Build your story in 11 steps & 4 hours.</h5>
          <div class="spacer-2em"></div>

          <ol class="checklist">
            <li><b>Start with a 20-min call from our team to put your story on the right track</b>. Use the chat box on the bottom right to suggest 3 time slots and we'll answer in less than 24h.</li>
            <li><b>Define the hero of your story</b>.</li>
            <li><b>Understand your hero's dreams and fears</b>.</li>
            <li><b>Express the mentor's mission</b>.</li>
            <li><b>Define the mentor's values</b>.</li>
            <li><b>Understand the mentor's uniqueness</b>.</li>
            <li><b>Define the mentor's personality</b>.</li>
            <li><b>Create an inspiring one-sentence pitch</b>.</li>
            <li><b>Create a unique brand identity</b>.</li>
            <li><b>Create an audacious mission statement</b>.</li>
            <li><b>Get feedback from our team</b>. Upgrade to the Member or Pro plans to get in touch within 48h.</li>
          </ol>
          <div class="spacer-2em"></div>

<!--           <% @tracks.each do |track| %>
 --><!--             <% if track.position == 1 %>
 -->
<!--               <h3><%= link_to track.title, track %></h3>
              <h5><%= track.description %></h5>
              <div class="spacer-30 padding-left-20"> -->
          <div class="checklist-button">
            <%= link_to "Build", track, class: "btn btn-sm btn-blue-pricing" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="spacer-2em"></div>
      </div>
      <div class="col-xs-12 col-sm-12" id="all-tracks-text">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" id="all-tracks-text">
          <h3>The classroom</h3>
          <h5>Get the storyteller mindset in 4 courses & 4 hours.</h5>
          <div class="spacer-2em"></div>
          <ol class="checklist">
            <li><b>The Basics</b></li>
            <li><b>The North Star Story</b></li>
            <li><b>Storytelling for branding</b></li>
            <li><b>Storytelling for your manifesto</b></li>
          </ol>
          <div class="spacer-2em"></div>
          <div class="checklist-button">
            <%= link_to "Learn", posts_path, class: "btn btn-sm btn-blue-pricing" %>
          </div>
<!--             <% else %>
 -->
              <!-- <h3><%= link_to track.title, track %></h3>
              <h5><%= track.description %></h5> -->
              <!-- <div class="spacer-30 padding-left-20">
                <ul class="list-unstyled list-inline">
                  <li><%= link_to "Learn", votes_tracks_path, class: "btn btn-sm btn-blue" %></li>
                  <li><%= link_to "Create", votes_tracks_path, class: "btn btn-sm btn-danger" %></li>
                </ul>
              </div> -->
<!--             <% end %>
 -->         <% end %>
        </div>
      </div>
    </div>
  </div>

