<% content_for :title do %>
  LoudStory | Build
<% end %>

<div id="wrapper-tracks-show">
  <div class="container single-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" id="star-track-banner">
        <h1><%= t '.title_logged_in' %></h1>
      </div>
    </div>
  </div>
</div>
<div class="container single-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12" id="star-track-text">
      <%= flash_messages %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" id="all-tracks-text">
        <div class="page-header">
          <h4><%= t '.header_logged_in' %></h4>
          <p class="pull-right"><%= t '.header_logged_in_name' %></p>
        </div>
      </div>
      <div class="ccol-xs-12 col-sm-12 col-md-6 col-md-offset-3" id="star-track-text">
        <h3><%= t '.create' %></h3>
        <h5><%= t '.create2' %></h5>
        <div class="spacer-2em"></div>
        <% @exercises.each do |exercise| %>
          <% if !current_user.member == true %>
            <% if exercise.position == 3 || exercise.position == 4 || exercise.position == 10 %>
              <div class="row">
                <div class="col-md-6" id="padding-track-list">
                  <p><%= exercise.title %></p>
                </div>
                <div class="col-md-6" id="button-tracks-show">
                  <ul class="list-unstyled list-inline">
                    <% if @user.exercises.count > 0 %>
                      <% session = exercise.team_sessions(current_team).last %>
                      <% if session %>
                        <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-blue btn-sm" %></li>
                      <% end %>
                    <% end %>
                    <li><%= link_to "New", new_exercise_session_path(exercise), class:"btn btn-white btn-lg" %></li>
                  </ul>
                </div>
              </div>
            <% else %>
              <div class="row">

                <div class="col-md-6" id="padding-track-list">
                  <p><%= exercise.title %></p>
                </div>

                <div class="col-md-6" id="button-tracks-show">
                  <ul class="list-unstyled list-inline">
                    <% if @user.exercises.count > 0 %>
                      <% session = exercise.team_sessions(current_team).last %>
                      <% if session %>
                        <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-lue btn-sm" %></li>
                      <% end %>
                    <% end %>
                    <li><%= link_to "New", pricing_path, class:"btn btn-white btn-lg" %><li>
                    <li><span class="fa fa-lock" data-toggle="tooltip" data-placement="right" title="to unlock, upgrade your account"></span><li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="row">

              <div class="col-md-6" id="padding-track-list">
                <p><%= exercise.title %></p>
              </div>

              <div class="col-md-6" id="button-tracks-show">
                <ul class="list-unstyled list-inline checklist">
                  <% if @user.exercises.count > 0 %>
                    <% session = exercise.team_sessions(current_team).last %>
                    <% if session %>
                      <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-blue btn-sm" %></li>
                    <% end %>
                  <% end %>
                  <li><%= link_to "New", new_exercise_session_path(exercise), class:"btn btn-white btn-lg" %></li>
                </ul>
              </div>
            </div>
          <% end %>

        <% end %>
        <% if current_user.pro == true %>
          <div class="spacer-1em"></div>
          <div class="actions">
            <ul class="list-unstyled list-inline">
              <!-- <li><%= link_to "My storyboard", dashboards_index_path, class: "btn btn-sm btn-blue" %></li> -->
              <li class="pull-left"><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal"> Ask a pro </button></li>
            </ul>
          </div>
        <% else %>
          <div class="spacer-1em"></div>
            <div class="actions">
              <ul class="list-unstyled list-inline">
                <!-- <li><%= link_to "My storyboard", dashboards_index_path, class: "btn btn-sm btn-blue" %></li> -->
                <li class="pull-left"><%= link_to "Ask a pro", pricing_path, class: "btn btn-sm btn-danger" %></li>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">We need some more information</h4>
      </div>
      <%= simple_form_for(@mentor, url: mentor_track_path(current_user), html: { method: :post }) do |f| %>
        <div class="modal-body">
          <p style="font-size:18px;">Do you want the feedback to focus on a specific tool?</p>
          <%= f.input :tool, label: false, :collection => ["The north star story","The elevator pitch","The brand identity","The manifesto"], :selected => 1 %>
          </br>
          <p style="font-size:18px;">Do you have a deadline?</p>
          <%= f.input :deadline, label: false, :collection => ["No","1 week","2 weeks","3 weeks","4 weeks","+4 weeks"], :selected => 1 %>
          </br>
          <p style="font-size:18px;">In what language are you telling your stories?</p>
          <%= f.input :language, label: false, :collection => ["English","French","Other"], :selected => 1 %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, :class => "btn btn-primary", :value => "Send a request" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

