<div class="wrapper-login">
  <div class="container double-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="star-track-banner">
        <h1><%= t '.title_for', title: @track.title %></h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 page-header" id="star-track-text">
<!--         <h4><%= t '.header' %></h4> -->
<!--         <p class="space-line"></p> -->
        <p class="color-red"><%= t '.warmup' %></p>
        <h5><%= t '.warmupdescription' %></h5>
        <p class="color-red"><%= t '.create' %></p>
        <% @exercises.each do |exercise| %>
          <% if !current_user.member == true %>
            <% if exercise.position == 3 || exercise.position == 4 || exercise.position == 10 %>
              <div class="row">

                <div class="col-md-6">
                  <p><%= exercise.title %></p>
                </div>

                <div class="col-md-6" id="button-tracks-show">
                  <ul class="list-unstyled list-inline">
                    <% if @user.exercises.count > 0 %>
                      <% session = exercise.team_sessions(current_team).last %>
                      <% if session %>
                        <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-grey btn-sm" %></li>
                      <% end %>
                    <% end %>
                    <li><%= link_to "Create", new_exercise_session_path(exercise), class:"btn btn-white btn-lg" %></li>
                  </ul>
                </div>
              </div>
            <% else %>
              <div class="row">

                <div class="col-md-6">
                  <p><%= exercise.title %></p>
                </div>

                <div class="col-md-6" id="button-tracks-show">
                  <ul class="list-unstyled list-inline">
                    <% if @user.exercises.count > 0 %>
                      <% session = exercise.team_sessions(current_team).last %>
                      <% if session %>
                        <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-grey btn-sm" %></li>
                      <% end %>
                    <% end %>
                    <li><%= link_to "Create", pricing_path, class:"btn btn-white btn-lg" %><li>
                    <li><span class="fa fa-lock" data-toggle="tooltip" data-placement="right" title="to unlock, upgrade your account"></span><li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="row">

              <div class="col-md-6">
                <p><%= exercise.title %></p>
              </div>

              <div class="col-md-6" id="button-tracks-show">
                <ul class="list-unstyled list-inline">
                  <% if @user.exercises.count > 0 %>
                    <% session = exercise.team_sessions(current_team).last %>
                    <% if session %>
                      <li><%= link_to "Update", edit_exercise_session_path(exercise, session), class:"btn btn-grey btn-sm" %></li>
                    <% end %>
                  <% end %>
                  <li><%= link_to "Create", new_exercise_session_path(exercise), class:"btn btn-white btn-lg" %></li>
                </ul>
              </div>
            </div>
          <% end %>

        <% end %>
        <% if current_user.pro == true %>
          <div class="spacer-1em"></div>
          <div class="actions">
            <ul class="list-unstyled list-inline">
              <li><%= link_to "Go to my storyboard", dashboards_index_path, class: "btn btn-sm btn-blue" %></li>
              <li><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal"> Ask a mentor </button></li>
            </ul>
          </div>
        <% else %>
          <div class="spacer-1em"></div>
            <div class="actions">
              <ul class="list-unstyled list-inline">
                <li><%= link_to "Go to my storyboard", dashboards_index_path, class: "btn btn-sm btn-blue" %></li>
                <li><%= link_to "Ask a mentor", pricing_path, class: "btn btn-sm btn-danger" %></li>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ask a mentor</h4>
      </div>
      <div class="modal-body">
        <p style="font-size:18px;">Do you want the feedback to focus on a specific tool ?</p>
        <p style="font-size:18px;">Do you have a deadline ?</p>
        <p style="font-size:18px;">In what language are you telling your stories ?</p>
        <p style="font-size:18px;">Do you want the feedback to focus on a specific tool ?</p>
        <p style="font-size:18px;">Do you have a deadline ?</p>
        <p style="font-size:18px;">In what language will you tell your story ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send a request</button>
      </div>
    </div>
  </div>
</div>

