<div class="wrapper-login">
  <div class="container double-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6" id="star-track-banner">
        <h1><%= t '.title_for', title: @track.title %></h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 page-header" id="star-track-text">
<!--         <h4><%= t '.header' %></h4> -->
<!--         <p class="space-line"></p> -->
        <p><%= t '.warmup' %></p>
        <h5><%= t '.warmupdescription' %></h5>

        <% @exercises.each do |exercise| %>
        <div class="row">

           <div class="col-md-6">
               <p><%= exercise.title %></p>
           </div>

             <div class="col-md-6">
              <ul class="list-unstyled list-inline">
                 <% if @user.exercises.count > 0 %>
                     <% session = exercise.team_sessions(current_team).last %>
                    <% if session %>
                      <li><%= link_to "Last version", edit_exercise_session_path(exercise, session), class:"btn btn-grey btn-sm" %></li>
                    <% end %>
                 <% end %>
                    <li><%= link_to "New version", new_exercise_session_path(exercise), class:"btn btn-white btn-lg" %></li>
              </ul>
            </div>
        </div>
<% end %>

        <div class="spacer-10em"></div>
        <div class="actions">
          <%= link_to "Go to my storyboard", dashboards_index_path, class: "btn btn-sm btn-blue" %>
        </div>
      </div>
    </div>
  </div>
</div>

