<div class="container center-block" id="onboarding-page">
  <div class="row single-page">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="page-header" id="header-onboarding">
        <h3 class="red">We need your vote</h3>
        <br>
        <h5>We are currently expanding our list of handy templates to share you story. We need your vote to prioritize.</h5>
        <h5><b>Which of the following tools is the most important or urgent for you?</b></h5>
        <p>Select one or two -or even the three of them if they equally matter to you.</p>
      </div>
      <%= flash_messages %>

      <div class="list-unstyled upvote-text">
      <a class="pointer" id="landing">
        <ul class="list-inline">
          <li><h2>Landing Page</h2></li>
          <li><h2><%= image_tag "upvote.svg", class: "upvote-img text-center" %></li>
          <li id="display1"><h2><%= @vote.count_landing %></h2></li>
          <li id="landing_count"><h2 class="red"></h2></li>
          <li><h2>votes</h2></li>
        </ul>
      </a>
      </div>
      <div class="list-unstyled">
      <a class="pointer" id="press">
        <ul class="list-inline upvote-text">
          <li><h2>Press Kit</h2></li>
          <li><%= image_tag "upvote.svg", class: "upvote-img text-center" %></li>
          <li id="display2"><h2><%= @vote.count_press %></h2></li>
          <li id="press_count"><h2></h2></li>
          <li><h2>votes</h2></li>
        </ul>
      </a>
      </div>
      <div class="list-unstyled upvote-text">
      <a class="pointer" id="pitch">
        <ul class="list-inline">
          <li><h2>Pitch Contest</h2></li>
          <li><%= image_tag "upvote.svg", class: "upvote-img text-center" %></h2></li>
          <li id="display3"><h2><%= @vote.count_pitch %></h2></li>
          <li id="pitch_count"><h2></h2></li>
          <li><h2>votes</h2></li>
        </ul>
      </a>
      </div>
      <div class="spacer-4em"></div>
  </div>
</div>