<div class="container">
  <div class="row single-page">
    <div class="col-xs-12 text-center oops">
      <h1>Oops</h1>
<!--       <h4>An error as occurred during the registration process.</h4>
 -->    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-inline'}) do |f| %>
        <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, required: true, placeholder: 'Email', class: "signin-label", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :first_name, required: true, placeholder: 'Username', class: "signin-label", class: "form-control" %>
      </div>

      <div class="form-group">
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", required: true, placeholder: 'Password', class: "signin-label", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Start Free Trial", class: "btn btn-lg btn-block btn-signin" %>
      </div>
      <% end %>
    </div>
  </div>
</div>