<div class="wrapper-login">
  <div class="container pricing-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 page-header text-center" id="pricing-text">
        <%= flash_messages %>
        <% if user_signed_in? %>
          <div class="col-md-4 ">
            <h2><%= t '.text_pricing_title2_free' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_free' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_free' %></h3>
            </br>
            <div class="text-center">
              <i class="fa fa-check", style="color:grey; margin-bottom:13px;"></i>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseOne", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text1_free' %>
                    </p>
                  </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Learn the basics of storytelling </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapseTwo", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text2_free' %>
                    </h4>
                  </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 3 exercises on values and mission </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapseThree", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text3_free' %>
                    </h4>
                  </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 1 template for manifesto </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_member' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_member' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_member' %></h3>
            <div class="text-center">
              <% if !current_user.member == true %>
                </br>
                <%= form_tag('/member', method: :patch) do %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key= <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                    data-image="http://www.loudstory.com/assets/loudstory-logo-0cb44ef03dff7d9d386ecf3318974dad.svg"
                    data-email= <%= current_user.email %>
                    data-name="Loudstory"
                    data-description="Member 29 €/MO"
                    data-panel-label="Pay"
                    data-label="SIGN UP">
                  </script>
                <% end %>
              <% else %>
                </br>
                <%= link_to "Unsubscribe", unsubscribe_path, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapse1", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text1_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Learn to use stories in all your communications tools </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse2", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text2_member' %>
                    </h4>
                  </a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 2 exercises on your values and mission </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse3", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text3_member' %>
                    </h4>
                  </a>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 1 template for your manifesto </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse4", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text4_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 2 exercises on the aspirations and lifestyle of your core user </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse5", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text5_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 1 template to make your elevator pitch </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse6", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text6_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 2 exercises on your brand uniqueness
                     </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse7", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text7_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> 1 template on your brand personality </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <% if !current_user.member == true %>
              <h2><%= t '.text_pricing_title2_pro' %></h2>
              <h1 class="text-center"><%= t '.text_pricing_title_pro1' %></h1>
              <h3 class="text-center"><%= t '.text_pricing_subtitle_pro' %></h3>
              <div class="text-center">
                </br>
                <% if !current_user.pro == true %>
                  <%= form_tag('/charge', method: :patch) do %>
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key= <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                      data-image="http://www.loudstory.com/assets/loudstory-logo-0cb44ef03dff7d9d386ecf3318974dad.svg"
                      data-email= <%= current_user.email %>
                      data-name="Loudstory"
                      data-description="Pro 299 €"
                      data-panel-label="Pay"
                      data-label="ASK A PRO">
                    </script>
                  <% end %>
                <% else %>
                  <i class="fa fa-check", style="color:blue; margin-bottom:13px;"></i>
                <% end %>
              </div>
              </br>
              <div id="accordion.panel-group">
                <div class="panel.panel-default">
                  <div class="panel-heading">
                    <a href="#collapseUn", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                      <p class="panel-title">
                        <%= t '.text1_pro' %>
                      </p>
                    </a>
                  </div>
                  <div id="collapseUn" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p style="color:#fff; background-color:#0F0F5B;"> You need to be a member to get a mentor feedback. Via Skype or Hangout. </p>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <h2><%= t '.text_pricing_title2_pro' %></h2>
              <h1 class="text-center"><%= t '.text_pricing_title_pro1' %></h1>
              <h3 class="text-center"><%= t '.text_pricing_subtitle_pro' %></h3>
              <div class="text-center">
                </br>
                <% if !current_user.pro == true %>
                  <%= form_tag('/charge', method: :patch) do %>
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key= <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                      data-image="http://www.loudstory.com/assets/loudstory-logo-0cb44ef03dff7d9d386ecf3318974dad.svg"
                      data-email= <%= current_user.email %>
                      data-name="Loudstory"
                      data-description="Pro 179 €"
                      data-panel-label="Pay"
                      data-label="ASK A PRO">
                    </script>
                  <% end %>
                <% else %>
                  <i class="fa fa-check", style="color:blue; margin-bottom:13px;"></i>
                <% end %>
              </div>
              </br>
              <div id="accordion.panel-group">
                <div class="panel.panel-default">
                  <div class="panel-heading">
                    <a href="#collapseUn", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                      <p class="panel-title">
                        <%= t '.text1_pro' %>
                      </p>
                    </a>
                  </div>
                  <div id="collapseUn" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p style="color:#fff; background-color:#0F0F5B;"> You need to be a member to get a mentor feedback. Via Skype or Hangout. </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="text-center">
            <h1><%= t '.text_pricing_headline' %></h1>
          </div>
          <div class="col-md-4 ">
            <h2><%= t '.text_pricing_title2_free' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_free' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_free' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseOne", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text1_free' %>
                    </p>
                  </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Learn the basics to build a louder story </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapseTwo", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text2_free' %>
                    </h4>
                  </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Explore your values and mission </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapseThree", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text3_free' %>
                    </h4>
                  </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Use your answers to fill in the manifesto template </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_member' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_member' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_member' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapse1", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text1_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Learn all the tricks to create stories in all your communications tools </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse2", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text2_member' %>
                    </h4>
                  </a>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Explore your values and mission </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse3", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <h4 class="panel-title">
                      <%= t '.text3_member' %>
                    </h4>
                  </a>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Use your answers to fill in the manifesto template </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse4", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text4_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Explore the aspirations, frustrations and values of your core user </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse5", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text5_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Use your answers to identify the key elements to make your pitch clear and crispy </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse6", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text6_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Explore the type of character you want your brand to have, in accordance with your values </p>
                  </div>
                </div>
                <div class="panel-heading">
                  <a href="#collapse7", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text7_member' %>
                    </p>
                  </a>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Use your answers to differentiate your brand personality on your market </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_pro' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_pro1' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_pro' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseUn", data-parent="#accordion", data-toggle="collapse", class="cursor-pricing">
                    <p class="panel-title">
                      <%= t '.text1_pro' %>
                    </p>
                  </a>
                </div>
                <div id="collapseUn" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> You need to be a member to get a mentor feedback. Via Skype or Hangout. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center" id="pricing-tracks-title">
        <h1 class="text-center"><%= t '.text_tracks_title' %></h1>
        <p class="text-center"><%= t '.text_tracks_subtitle' %></p>
        <div id="pricing-tracks-list">
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content1' %></h2></li>
            <li><p><%= t '.text_tracks_description1' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content2' %></h2></li>
            <li><p><%= t '.text_tracks_description2' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content3' %></h2></li>
            <li><p><%= t '.text_tracks_description3' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content4' %></h2></li>
            <li><p><%= t '.text_tracks_description4' %></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>