<% content_for :title do %>
  LoudStory | Pricing
<% end %>

<div class="wrapper-login">
  <div class="container pricing-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-center">
        </br>
        <div class="col-md-4 "></div>
        <div class="col-md-4 ">
          <%= flash_messages %>
        </div>
        <div class="col-md-4 "></div>
      </div>
      <div class="col-xs-12 col-sm-12 page-header text-center" id="pricing-text">
        <% if user_signed_in? %>
          <div class="col-md-4 ">
            <h2><%= t '.text_pricing_title2_free' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_free' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_free' %></h3>
            </br>
            <div class="text-center">
              <i class="fa fa-check", style="color:grey; margin-bottom:13px;"></i>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseOne", data-toggle="tooltip" data-placement="bottom" title="Exclusive videos and slideshows on storytelling techniques and examples">
                    <p class="panel-title">
                      <%= t '.text1_free' %>
                    </p>
                  </a>
                </div>
                <!-- <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p style="color:#fff; background-color:#0F0F5B;"> Exclusive videos and slideshows on storytelling techniques and examples</p>
                  </div>
                </div> -->
                <div class="panel-heading">
                  <a href="#collapseTwo", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your core values and mission">
                    <p class="panel-title">
                      <%= t '.text2_free' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapseThree", data-toggle="tooltip" data-placement="bottom" title="1 template for manifesto">
                    <p class="panel-title">
                      <%= t '.text3_free' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_member' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_member' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_member' %></h3>
            <div class="text-center">
              <% if !current_user.member == true %>
                </br>
                <%= form_tag('/member', method: :patch) do %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key= <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                    data-image="http://www.loudstory.com/assets/loudstory-logo-0cb44ef03dff7d9d386ecf3318974dad.svg"
                    data-email= <%= current_user.email %>
                    data-name="Loudstory"
                    data-description="Member 29 €"
                    data-panel-label="Pay"
                    data-label="SIGN UP">
                  </script>
                <% end %>
              <% else %>
                </br>
                  <div class="text-center">
                    <i class="fa fa-check", style="color:grey; margin-bottom:13px;"></i>
                  </div>
              <% end %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapse1", data-toggle="tooltip" data-placement="bottom" title="Exclusive videos and slideshows on storytelling techniques and examples">
                    <p class="panel-title">
                      <%= t '.text1_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse2", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your core values and mission">
                    <p class="panel-title">
                      <%= t '.text2_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse3", data-toggle="tooltip" data-placement="bottom" title="1 template for your manifesto">
                    <p class="panel-title">
                      <%= t '.text3_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse4", data-toggle="tooltip" data-placement="bottom" title="2 exercises on the aspirations and frustrations of your core user">
                    <p class="panel-title">
                      <%= t '.text4_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse5", data-toggle="tooltip" data-placement="bottom" title="1 template to make your elevator pitch">
                    <p class="panel-title">
                      <%= t '.text5_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse6", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your brand identity and your competitors">
                    <p class="panel-title">
                      <%= t '.text6_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse7", data-toggle="tooltip" data-placement="bottom" title="1 template on your brand voice">
                    <p class="panel-title">
                      <%= t '.text7_member' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <h2><%= t '.text_pricing_title2_pro' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_pro1' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_pro' %></h3>
            <div class="text-center">
              </br>
              <% if !current_user.pro == true %>
                <%= form_tag('/charge', method: :patch) do %>
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key= <%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                    data-image="http://www.loudstory.com/assets/loudstory-logo-0cb44ef03dff7d9d386ecf3318974dad.svg"
                    data-email= <%= current_user.email %>
                    data-name="Loudstory"
                    data-description="Pro 299 €"
                    data-panel-label="Pay"
                    data-label="ASK A PRO">
                  </script>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal"> Ask a pro </button>
              <% end %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseUn", data-toggle="tooltip" data-placement="bottom" title="Any time you need, a mentor gives you feedback on your story via Skype or Hangout.">
                    <p class="panel-title">
                      <%= t '.text1_pro' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapseDeux", data-toggle="tooltip" data-placement="bottom" title="We help you write the best copy for your pitch, press kit or landing page on a 500 words basis.">
                    <p class="panel-title">
                      <%= t '.text2_pro' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="text-center">
            <h1><%= t '.text_pricing_headline' %></h1>
          </div>
          <div class="col-md-4 ">
            <h2><%= t '.text_pricing_title2_free' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_free' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_free' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseOne", data-toggle="tooltip" data-placement="bottom" title="Exclusive videos and slideshows on storytelling techniques and examples">
                    <p class="panel-title">
                      <%= t '.text1_free' %>
                    </p>
                  </a>
                </div>

                <div class="panel-heading">
                  <a href="#collapseTwo", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your core values and mission">
                    <p class="panel-title">
                      <%= t '.text2_free' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapseThree", , data-toggle="tooltip" data-placement="bottom" title="1 template for manifesto">
                    <p class="panel-title">
                      <%= t '.text3_free' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_member' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_member' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_member' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapse1", data-toggle="tooltip" data-placement="bottom" title="Exclusive videos and slideshows on storytelling techniques and examples">
                    <p class="panel-title">
                      <%= t '.text1_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse2", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your core values and mission">
                    <p class="panel-title">
                      <%= t '.text2_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse3", data-toggle="tooltip" data-placement="bottom" title="1 template for your manifesto">
                    <p class="panel-title">
                      <%= t '.text3_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse4", data-toggle="tooltip" data-placement="bottom" title="2 exercises on the aspirations and frustrations of your core user">
                    <p class="panel-title">
                      <%= t '.text4_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse5", data-toggle="tooltip" data-placement="bottom" title="1 template to make your elevator pitch">
                    <p class="panel-title">
                      <%= t '.text5_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse6", data-toggle="tooltip" data-placement="bottom" title="2 exercises on your brand identity and your competitors">
                    <p class="panel-title">
                      <%= t '.text6_member' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapse7", data-toggle="tooltip" data-placement="bottom" title="1 template on your brand voice">
                    <p class="panel-title">
                      <%= t '.text7_member' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2><%= t '.text_pricing_title2_pro' %></h2>
            <h1 class="text-center"><%= t '.text_pricing_title_pro1' %></h1>
            <h3 class="text-center"><%= t '.text_pricing_subtitle_pro' %></h3>
            <div class="form-group">
              <%= link_to "Sign up", root_path, class:"btn btn-sm btn-grey-big" %>
            </div>
            </br>
            <div id="accordion.panel-group">
              <div class="panel.panel-default">
                <div class="panel-heading">
                  <a href="#collapseUn", data-toggle="tooltip" data-placement="bottom" title="Any time you need, a mentor gives you feedback on your story via Skype or Hangout.">
                    <p class="panel-title">
                      <%= t '.text1_pro' %>
                    </p>
                  </a>
                </div>
                <div class="panel-heading">
                  <a href="#collapseDeux", data-toggle="tooltip" data-placement="bottom" title="We help you write the best copy for your pitch, press kit or landing page on a 500 words basis.">
                    <p class="panel-title">
                      <%= t '.text2_pro' %>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center" id="pricing-tracks-title">
        <h1 class="text-center"><%= t '.text_tracks_title' %></h1>
        <p class="text-center"><%= t '.text_tracks_subtitle' %></p>
        <div id="pricing-tracks-list">
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content1' %></h2></li>
            <li><p><%= t '.text_tracks_description1' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content2' %></h2></li>
            <li><p><%= t '.text_tracks_description2' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content3' %></h2></li>
            <li><p><%= t '.text_tracks_description3' %></p></li>
          </ul>
          <ul class="list-unstyled">
            <li><h2><%= t '.text_tracks_content4' %></h2></li>
            <li><p><%= t '.text_tracks_description4' %></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% if session[:modal] == true %>
  <script>
    $(window).load(function(){
      $('#myModal').modal('show');
    });
  </script>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">We need a few information</h4>
      </div>
      <%= simple_form_for(:mentor, url: mentor_path, html: { method: :post }) do |f| %>
        <div class="modal-body">
          <p style="font-size:18px;">Do you want the feedback to focus on a specific tool?</p>
          <%= f.input :tool, label: false, :collection => ["The north star story","The elevator pitch","The brand identity","The manifesto"], :selected => 1 %>
          </br>
          <p style="font-size:18px;">Do you have a deadline?</p>
          <%= f.input :deadline, label: false, :collection => ["No","1 week","2 weeks","3 weeks","4 weeks","+4 weeks"], :selected => 1 %>
          </br>
          <p style="font-size:18px;">In what language are you telling your stories?</p>
          <%= f.input :language, label: false, :collection => ["English","French","Other"], :selected => 1 %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, :class => "btn btn-primary", :value => "Send a request" %>
        </div>
      <% end %>
    </div>
  </div>
</div>