<div class="container text-center header">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="page-header">
        <h1 class="color-red" id="dashboard-headtitle"><%= t '.title' %></h1>
      </div>
      <div class="img-fit">
        <%= image_tag current_user.picture(:profile), class:"pic-dashboard" %>
      </div>
      <div id="identity">
        <h3><%= current_user.first_name%>  <%= current_user.last_name%></h3>
      </div>
      <div class="space-line"></div>
      <div class="spacer-2em"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h3>My Projects</h3>
      <ul class="list-unstyled">
       <% if current_user.teams.size > 1 %>
        <% current_user.teams.each do |team| %>
        <li><%= link_to team.name, dashboard_path(team.id, current_user.id) %></li>
        <% end %>
       <% end %>
       <li><%= link_to "Add project", new_team_path %>  <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_team_path %></li>
       <li><%= link_to "Switch project", teams_path %>   <%= link_to '<i class="fa fa-refresh"></i>'.html_safe, teams_path %></li>
      </ul>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-3">
      <h3>My Team</h3>
      <% if not @members.blank? %>
        <ul class="list-unstyled">
        <% @members.each do |member| %>
          <% if member.first_name.to_s == current_user.first_name.to_s %>
            <li><%= link_to member.first_name, dashboard_path(current_team.id, member.id) %></li>
          <% else %>
            <li><%= link_to member.first_name, dashboard_path(current_team.id, member.id) %> <%= link_to '<i class="fa fa fa-trash-o"></i>'.html_safe, remove_from_team_team_user_path(current_team, member), method: :delete, data: { confirm: "Are you sure?" }%></li>
          <% end %>
        <% end %>
          <li>Add member  <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_user_invitation_path %></li>

      <% end %>
    </div>

    <% if @team.blank? %>
      <div class="col-xs-8">
        <% current_track = nil %>

        <% @user.exercises.each do |exercise| %>
          <% if current_track != exercise.track %>
            <% if exercise.user_team_sessions(current_user.id, current_team.id).size > 0 %>
              <h3><%= exercise.track.title %></h3>
              <%=
                current_track = exercise.track
                nb_exercises = @user.exercises.select{|ex| ex.track_id == exercise.track.id}.size
                nb_total_exercises = exercise.track.exercises.count
                render "progressbar", percentage: nb_exercises.to_f / nb_total_exercises.to_f * 100
              %>
            <% end %>
          <% end %>

          <% exercise.user_team_sessions(current_user.id, current_team.id).each do |session| %>
            <ul class="list-unstyled list-inline" id="dashboard-links">
             <li><%= link_to exercise.title, edit_exercise_session_path(exercise, session) %></li>
             <li><p id="version"><%= "#{l session.updated_at, format: :long}" %></p></li>
              <!-- <li><%= link_to '<i class="fa fa-eye"></i>'.html_safe, edit_exercise_session_path(exercise, session), class:"btn btn-sm btn-view-session" %></li> -->
              <li id="trash"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, exercise_session_path(exercise, session), method: :delete,
                  data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-danger" %></li>
            </ul>
          <% end %>
          
        <% end %>
        <div class="spacer-2em"></div>
        <div class="col-xs-12">
          <div class="actions">
            <% unless current_track == nil %>
             <%= link_to "Back to exercises", track_path(current_track), class:"btn btn-lg btn-blue" %>
            <% end %>
  <!--             <%= link_to "Back to tracks", tracks_path, class:"btn btn-lg btn-blue" %> -->
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-xs-8">
      <% current_track = nil %>

      <% @user.exercises.each do |exercise| %>
        <% if current_track != exercise.track %>
          <% if exercise.user_team_sessions(@user, @team).size > 0 %>
            <h3><%= exercise.track.title %></h3>
            <%=
              current_track = exercise.track
              nb_exercises = @user.exercises.select{|ex| ex.track_id == exercise.track.id}.size
              nb_total_exercises = exercise.track.exercises.count
              render "progressbar", percentage: nb_exercises.to_f / nb_total_exercises.to_f * 100
            %>
          <% else %>
            </br>
            </br>
            </br>
            </br>
          <% end %>
        <% end %>

        <% exercise.user_team_sessions(@user, @team).each do |session| %>
          <ul class="list-unstyled list-inline" id="dashboard-links">
           <li><%= link_to exercise.title, edit_exercise_session_path(exercise, session) %></li>
           <li><p id="version"><%= "#{l session.updated_at, format: :long}" %></p></li>
            <!-- <li><%= link_to '<i class="fa fa-eye"></i>'.html_safe, edit_exercise_session_path(exercise, session), class:"btn btn-sm btn-view-session" %></li> -->
            <li id="trash"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, exercise_session_path(exercise, session), method: :delete,
                data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-danger" %></li>
          </ul>
        <% end %>
        
      <% end %>
      <div class="spacer-2em"></div>
      <div class="col-xs-12">
        <div class="actions">
          <% unless current_track == nil %>
           <%= link_to "Back to exercises", track_path(current_track), class:"btn btn-lg btn-blue" %>
          <% end %>
<!--             <%= link_to "Back to tracks", tracks_path, class:"btn btn-lg btn-blue" %> -->
        </div>
      </div>
    </div>
  </div>
</div>
