<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:meta) %>
      <%= yield(:meta) %>
    <% end %>

    <% title= content_for?(:title) ? yield(:title) : "LoudStory, Storytelling for Startups" %>


    <%= favicon_link_tag 'favicon.ico' %>


    <%= google_webfonts_link_tag :raleway => [ 300, 400, 700 ] %>
    <%= google_webfonts_link_tag :oswald => [ 700] %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <%= render partial: "shared/navbar" %>

    <%= yield %>

    <div id="footer">
      <%= render partial: "shared/footer" %>
    </div>

  </body>
</html>
